@import "../../styles/global.scss";
@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.hero {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 100px);
  background: $linear-dark;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    padding: 0 24px;

    @include md {
      width: 100%;
      height: 50%;
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      width: 50%;
      height: 100%;

      @include md {
        width: 100%;
        height: 50%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;

        @include md {
          font-size: 36px;
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;

        button {
          position: relative;
          padding: 20px;
          border: 1px solid $main-color;
          border-radius: 10px;
          background-color: transparent;
          color: $main-color;
          font-weight: 300;
          cursor: pointer;
          z-index: 1;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    @include xl {
      height: 80%;
      bottom: 0;
      top: unset;
    }
    @include md {
      width: 100%;
      height: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .slidingTextContainer {
    position: absolute;
    bottom: -120px;
    font-size: 50vh;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
