@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.portfolio {
  position: relative;

  .title {
    display: none;

    @include md {
      position: sticky;
      top: 0;
      left: 0;
      padding-top: 20px;
      text-align: center;
      color: $main-accent;
      background-color: #0c0c1d;
      display: flex;
      justify-content: center;
      font-size: 44px;
      margin-bottom: 30px;
      height: 100px;
      z-index: 5;
    }
  }

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: $main-accent;
    font-size: 36px;

    @include md {
      padding-top: calc(100% - 100px);
      font-size: 24px;
      display: none;
    }

    .progressBar {
      height: 10px;
      background-color: $main-color;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  overflow: hidden;

  @include md {
    flex-direction: column;
    padding-top: 100px;
  }
}

.wrapper {
  max-width: 1366px;
  height: calc(100% - 100px);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @include xxl {
    padding: 0 24px;
  }
  @include md {
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
  }

  .imageContainer {
    flex: 1;
    height: 55%;
    border-radius: 20px;
    overflow: hidden;

    @include xxl {
      height: 50%;
    }
    @include xl {
      height: 45%;
    }
    @include md {
      flex: 0.8;
      width: 80%;
      max-height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      @include md {
        // object-fit: contain;
      }
    }
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include md {
      transform: none !important;
      flex: 1.2;
      padding: 10px;
      align-items: center;
      text-align: center;
      gap: 20px;
      // max-height: 430px;
    }

    h2 {
      font-size: 72px;

      @include xxl {
        font-size: 48px;
      }
      @include md {
        font-size: 36px;
      }
    }

    p {
      font-size: 20px;
      color: #808080;

      @include md {
        font-size: 16px;
      }
    }
    .buttonContainer {
      display: flex;
      gap: 10px;

      button {
        background-color: none;
        border: none;
        border-radius: 6px;
        padding: 5px;
        width: 50px;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
          width: 150px;
          background-color: $main-accent;

          span {
            opacity: 1;
          }
        }

        a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100px;
            opacity: 0;
            transform: translate(-30%, -50%);
            transition: all 300ms ease-in-out;
          }
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }

    .projectDetails {
      display: flex;
      align-items: center;
      gap: 20px;

      @include md {
        flex-direction: column;
      }

      ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
      }

      .technologiesWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background: $soft-bg;
        border-radius: 13px;
        overflow: hidden;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
