@import "./variables.scss";
@import "./responsive.scss";

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #0c0c1d;
  color: lightgray;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

button,
Link,
input {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus {
  outline: 1px solid transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
