//BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
$main-accent: #ffa500;

$linear-dark: linear-gradient(180deg, #0c0c1d, #111132);
//TEXT
$main-color: #ffffff;
$soft-color: #dddddd;
$dark-color: #2a3447;
