@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.about {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 24px 0;

  h1 {
    font-size: 100px;

    @include md {
      font-size: 36px;
    }
  }

  .aboutContainer {
    display: flex;
    width: 100%;
    gap: 50px;

    @include xxl {
      padding: 0 24px;
    }

    @include lg {
      flex-direction: column;
    }
    @include md {
      gap: 30px;
    }

    p {
      font-size: 32px;
      margin-bottom: 20px;
      align-self: center;

      @include lg {
        font-size: 24px;
        height: 70px;
      }

      @include md {
        font-size: 18px;
        height: 40px;
      }
    }

    .technologies {
      display: flex;
      flex-direction: column;
      flex: 1;

      @include lg {
        align-items: center;
      }
      @include md {
        align-items: center;
      }

      .technologiesList {
        display: grid;
        grid-template-columns: repeat(5, 115px);
        // grid-auto-rows: minmax(100px, auto);
        grid-auto-flow: dense;
        grid-gap: 20px;

        @include xl {
          grid-template-columns: repeat(4, 115px);
        }

        @include lg {
          grid-template-columns: repeat(6, 1fr);
        }

        @include md {
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 10px;
        }

        li {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 115px;
          height: 115px;
          border-radius: 10px;
          background-color: $soft-bg;
          cursor: pointer;

          @include lg {
            width: 90px;
            height: 90px;
          }
          @include md {
            width: 50px;
            height: 50px;
          }

          .technologiesWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 80px;
            cursor: pointer;

            @include lg {
              width: 70px;
              height: 70px;
            }
            @include md {
              width: 40px;
              height: 40px;
            }
          }

          img {
            width: 100%;
          }

          .technologiesTitle {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 30px;
            font-size: 14px;
            line-height: 0.8;
            opacity: 0;

            @include md {
              display: none;
            }
          }

          &:hover .technologiesTitle {
            opacity: 1;
            transform: translateY(130%);
            font-size: 14px;
            transition: all 500ms ease;
          }
        }
      }
    }

    .documents {
      display: flex;
      flex-direction: column;
      align-items: center;

      flex: 1;

      .documentsList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: dense;
        gap: 20px;

        @include xxl {
          grid-template-columns: repeat(2, 1fr);
        }
        @include lg {
          grid-template-columns: repeat(5, 1fr);
        }
        @include lg {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}
