@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #000000cc;

  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: min-content;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    color: #000000;
    overflow: auto;

    @include sm {
      width: 90%;
    }

    .closeModal {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      border-radius: 10px;

      transition: all 300ms ease-in-out;
      scale: 1;

      &:hover {
        scale: 1.2;
        color: #ffffff;
        background: $main-bg;
      }
    }
  }
}
