@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.wrapper {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;

  @include xl {
    padding: 0 24px;
  }

  .contact {
    height: 100%;
    max-width: 1366px;
    // width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    @include lg {
      flex-direction: column;
      gap: 20px;
      // padding: 10px;
    }

    .textContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include lg {
        align-items: center;
        text-align: center;
        gap: 10px;
        // margin-top: 70px;
      }

      h1 {
        font-size: 100px;
        line-height: 88px;

        @include lg {
          font-size: 64px;
        }
        @include md {
          font-size: 36px;
        }
      }

      .item {
        display: flex;
        flex-direction: column;

        a {
          font-weight: 200;
        }
      }
    }

    .formContainer {
      flex: 1;
      position: relative;

      @include lg {
        padding: 0 20px;
        width: 100%;
      }
      @include md {
        padding: 0 20px;
      }

      .phoneSvg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        stroke: $main-accent;
        z-index: -1;
        display: flex;
        justify-content: center;

        @include lg {
          width: calc(100% - 100px);
          height: calc(100% - 100px);
        }

        svg {
          @include lg {
            width: 300px;
            height: 300px;
          }
          @include md {
            width: 200px;
            height: 200px;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        input,
        textArea {
          padding: 20px;
          background-color: transparent;
          border: 1px solid $main-color;
          color: $main-color;
          border-radius: 10px;

          @include md {
            padding: 10px;
          }
        }

        button {
          background-color: $main-accent;
          border: none;
          border-radius: 10px;
          padding: 20px;
          font-weight: 500;
          cursor: pointer;

          @include md {
            padding: 10px;
          }
        }
      }
    }
  }
}
