@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xxl {
      width: calc(100% - 48px);
    }
    @include xl {
      padding: 0;
    }

    @include md {
      justify-content: center;
      align-items: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      font-size: 24px;
      margin-left: 5vw;

      @include xxl {
        margin-left: 70px;
      }

      @include md {
        display: none;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      img {
        width: 32px;
        height: 32px;
        transition: all 300ms ease-in-out;

        &:hover {
          scale: 1.2;
          box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
        }
      }
    }
  }
}
