@import "../../app.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;

  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: #fff;

    @include mobile {
      width: 220px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 40px;

        @include mobile {
          font-size: 30px;
        }
      }
    }
  }

  button {
    z-index: 999;
    position: fixed;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
